<img src="https://cellstrat2.s3.amazonaws.com/PlatformAssets/bluewhitelogo.svg" alt="drawing" width="200"/>

# ML Tuesdays - Session 3
## Machine Learning Track
### Medical Insurace Cost Prediction Exercise

### Guidelines
1. The notebook has been split into multiple steps with fine-grained instructions for each step. Use the instructions for each code cell to complete the code.
2. You can refer the Linear Regression Module in the Machine Learning Pack from CellStrat Hub.
3. Make use of the docstrings of the functions and classes using the `shift+tab` shortcut key.
4. Refer the internet for the explanation of any algorithm.

## About the Dataset

The insurance.csv dataset contains 7 features (columns). The dataset contains 4 numerical features (age, bmi, children and charges) and 3 nominal features (sex, smoker and region) that were converted into factors with numerical value desginated for each level.

The purposes of this exercise to look into different features to observe their relationship, and plot a multiple linear regression based on several features of individual such as age, physical/family condition and location against their existing medical expense to be used for predicting future medical expenses of individuals that help medical insurance to make decision on charging the premium.
le (0 or 1).

## Load Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [2]:
dataset = pd.read_csv('insurance.csv')

In [3]:
dataset

            age     sex        bmi smoker     region  children       charges
0     21.000000    male  25.745000     no  northeast         2   3279.868550
1     36.976978  female  25.744165    yes  southeast         3  21454.494239
2     18.000000    male  30.030000     no  southeast         1   1720.353700
3     37.000000    male  30.676891     no  northeast         3   6801.437542
4     58.000000    male  32.010000     no  southeast         1  11946.625900
...         ...     ...        ...    ...        ...       ...           ...
3625  48.820767  female  41.426984     no  northwest         4  10987.324964
3626  38.661977  female  26.202557     no  southeast         2  11735.844352
3627  56.000000    male  40.300000     no  southwest         0  10602.385000
3628  48.061207  female  34.930624     no  southeast         1   8976.140452
3629  37.598865  female  25.219233     no  northeast         3   7027.698968

[3630 rows x 7 columns]

## Handling Categorical Data
-Rearraging the dataset

In [4]:
#==============================================================================
# Description of dataset (Categorical):
#==============================================================================
dataset.describe(include=['O'])

         sex smoker     region
count   3630   3630       3630
unique     2      2          4
top     male     no  southeast
freq    2029   3070       1021

In [5]:
#==============================================================================
# Ecoding
#==============================================================================

dataset = pd.get_dummies(dataset, drop_first=True)
dataset

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,21.000000,25.745000,2,3279.868550,1,0,0,0,0
1,36.976978,25.744165,3,21454.494239,0,1,0,1,0
2,18.000000,30.030000,1,1720.353700,1,0,0,1,0
3,37.000000,30.676891,3,6801.437542,1,0,0,0,0
4,58.000000,32.010000,1,11946.625900,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...
3625,48.820767,41.426984,4,10987.324964,0,0,1,0,0
3626,38.661977,26.202557,2,11735.844352,0,0,0,1,0
3627,56.000000,40.300000,0,10602.385000,1,0,0,0,1
3628,48.061207,34.930624,1,8976.140452,0,0,0,1,0
3629,37.598865,25.219233,3,7027.698968,0,0,0,0,0

In [6]:
#==============================================================================
# Rearranging columns to see better
#==============================================================================

dataset = dataset[['age','sex_male','smoker_yes','bmi','children','region_northwest','region_southeast','region_southwest','charges']]
#train_data.head(2)

In [7]:
#==============================================================================
# Rounding up & down Age
#==============================================================================

dataset['age'] = round(dataset['age'])

## Data Preprocessing

1. Split to X and y data
2. Perform Train Test Split

In [8]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

## Training

You need to train 4 different models i.e.,
1. LogisticRegression
2. Ridge Regression
3. Lasso Regression
2. Random Forest

Make optimal use of the scikit-learn documentation and google to understand each algorithm and apply it.

In [10]:
#==============================================================================
# Importing Performance Metrics
#==============================================================================

from sklearn.metrics import mean_squared_error, r2_score

In [11]:
#==============================================================================
# Linear Regression
#==============================================================================

from sklearn.linear_model import LinearRegression
LinearRegression = LinearRegression()
LinearRegression = LinearRegression.fit(X_train, y_train)

#==============================================================================
# Prediction
#==============================================================================

y_pred = LinearRegression.predict(X_test)

#==============================================================================
# Scores
#==============================================================================

print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.7482602892322037
30898859.035960793

In [12]:
#==============================================================================
# Ridge Regression
#==============================================================================

from sklearn.linear_model import Ridge
Ridge = Ridge()
Ridge = Ridge.fit(X_train, y_train)

#==============================================================================
# Prediction
#==============================================================================

y_pred = Ridge.predict(X_test)

#==============================================================================
# Scores
#==============================================================================

print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.7481028884319249
30918178.614604667

In [13]:
#==============================================================================
# Lasso Regression
#==============================================================================

from sklearn.linear_model import Lasso
Lasso = Lasso()
Lasso = Lasso.fit(X_train, y_train)

#==============================================================================
# Predicions
#==============================================================================

y_pred = Lasso.predict(X_test)

#==============================================================================
# Scores
#==============================================================================

print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.7482269824960903
30902947.148007076

In [14]:
#==============================================================================
# Random Forest Regressor
#==============================================================================

from sklearn.ensemble import RandomForestRegressor
RandomForestRegressor = RandomForestRegressor()
RandomForestRegressor = RandomForestRegressor.fit(X_train, y_train)

#==============================================================================
# Prediction
#==============================================================================

y_pred = RandomForestRegressor.predict(X_test)

#==============================================================================
# Scores
#==============================================================================

print(r2_score(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))

0.9042314953185667
11754750.639901442

In [15]:
#==============================================================================
# Creating a pickle file for the classifier
#==============================================================================

import pickle
with open('MedicalInsuranceCost.pkl', 'wb') as f:
    pickle.dump(RandomForestRegressor, f)